@import nib

ColorCode = rgba(255,250,10,0.7)
BackPatternSize = 40px

Width =  200px
Height = 280px
Radius = 25px


Darken = rgba(0,0,0,0.2)
Lighten = rgba(255,255,255,0.15)
ImageHeight = Height * 0.6

html, body
    background-color: #888

.card
    margin: 10px
    position: relative
    width: Width
    height: Height
    box-sizing: border-box
    display: inline-block
    
    h1
        font-family: 'Francois One', sans-serif;
        margin-top: .2em
        text-transform: uppercase
        white-space: no-wrap
        font-size: 1.2em
        color: rgba(0,0,0,0.8)
    h2
        font-size: 1em

    .front, .back
        box-sizing: border-box
        box-shadow: inset 1px 0 1px rgba(255,255,255,0.6)
        position: absolute
        display: inline-block
        float: left
        left: 0
        top: 0
        width: Width
        height: Height
        padding: 1.5em
        border-right: 1px solid Darken
        border-bottom: 1px solid Darken
        background-color:#eee
        border-left: 1px solid Lighten
        border-top: 1px solid Lighten
        backface-visibility: hidden
        border-radius: Radius 

    .front
        padding-top: ImageHeight
        background:
            url(run/samuel_morse.jpg) 0px 0px no-repeat,
            linear-gradient(top,ColorCode,ColorCode) 0px ImageHeight no-repeat
        background-size: auto ImageHeight, 100% 30px
        background-clip: border-box
        background-origin: border-box
        background-color: white
       
    .back
        HalfBackPatternSize = BackPatternSize/2
        PatternCOlor2 = Lighten
        background-color:ColorCode;
        background-image: radial-gradient(closest-side, transparent 98%, PatternCOlor2 99%),
        radial-gradient(closest-side, transparent 98%, PatternCOlor2 99%);
        background-size:BackPatternSize BackPatternSize;
        background-position:0 0, HalfBackPatternSize HalfBackPatternSize 
        transform: rotateY(-180deg)

    .front:after, .back:after
        position: absolute;
        content: ' '
        width: 100%
        height: 50%
        top: 0
        left: 0
        border-radius: Radius
        background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%)
        opacity: 0.8

.card.flip
    .front
        transform: rotateY(-180deg)
    .back
        transform: rotateY(0deg)
        
