<h1>Samuel Morse</h1>
<h2>1791 – 1872</h2>
<div class="memory-level">
    <i class="fa fa-check-circle-o"></i>
    <i class="fa fa-check-circle-o"></i>
    <i class="fa fa-check-circle-o"></i>
    <i class="fa fa-check-circle-o"></i>
</div>
<a href="http://en.wikipedia.org/wiki/Samuel_Morse">W</a>
